<link href="contact.css" rel="stylesheet">
<div class="col-md-12">
    <ul class="breadcrumb">
        <li><a href="/">Home</a>
        </li>
        <li>Contact</li>
    </ul>
</div>
<!-- <div class="col-md-3"> -->
    <!-- *** PAGES MENU ***
_________________________________________________________ -->
  <!--   <div class="panel panel-default sidebar-menu">

        <div class="panel-heading">
            <h3 class="panel-title">Pages</h3>
        </div>

        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="#">Text page</a>
                </li>
                <li>
                    <a href="#">Contact page</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>

            </ul>

        </div>
    </div>
 -->
    <!-- *** PAGES MENU END *** -->


    <!-- <div class="banner">
        <a href="#">
            <img src="/assets/img/banner.jpg" alt="sales 2014" class="img-responsive">
        </a>
    </div> -->
<!-- </div> -->

<div class="col-md-12">


    <div class="box" id="contact">
        <!-- Pricing table -->                     
                     <!-- Price details. Note down the class name before you edit. -->
                     <div class="row">
                     
                        <div class="col-md-4">
                           
                           <!-- Pricing table #1.  -->
                           <div class="pricel center">
                                 <div class="phead-top">
                                    <!-- Title -->
                                    <h4>Bronze</h4>
                                 </div>
                                 <div class="phead-bottom">
                                    <div class="phead-round">
                                      <p>$5 <span>month</span></p>
                                    </div>
                                 </div>
                              <div class="plist">
                                 <!-- List -->
                                 <ul>
                                    <li>Unlimited Products</li>
                                    <li>SEO ready</li>
                                    <li>No transaction fee</li>
                                    <li>Mobile ready themes</li>
                                    <li>Payment gateway integration</li>
                                    <li><strike>Theme customization</strike></li>
                                    <li><strike>Android application</strike></li>
                                 </ul>
                              </div>
                              <div class="pbutton button">  
                                 <!-- button -->
                                 <a href="#"><i class="fa fa-shopping-cart"></i> Pay Now</a>
                              </div>
                           </div>

                        </div>

                        <div class="col-md-4">
                           
                           <!-- Pricing table #2. -->
                           <div class="pricel center">
                                 <div class="phead-top">
                                    <h4>Silver</h4>
                                 </div>
                                 <div class="phead-bottom">
                                    <div class="phead-round">
                                      <p>$10 <span>month</span></p>
                                    </div>
                                 </div>
                              <div class="plist">
                                 <ul>
                                    <li>Unlimited Products</li>
                                    <li>SEO ready</li>
                                    <li>No transaction fee</li>
                                    <li>Mobile ready themes</li>
                                    <li>Payment gateway integration</li>
                                    <li>Theme customization</li>
                                    <li><strike>Android application</strike></li>

                                 </ul>
                              </div>
                              <div class="pbutton button">  
                                 <!-- button -->
                                 <a href="#"><i class="fa fa-shopping-cart"></i> Buy Now</a>
                              </div>
                           </div>   
                                 
                           <div class="clearfix"></div>
                        </div>  
                        
                        <div class="col-md-4">
                           
                           <!-- Pricing table #3. -->
                           <div class="pricel center">
                                 <div class="phead-top">
                                    <h4>Gold</h4>
                                 </div>
                                 <div class="phead-bottom">
                                    <div class="phead-round">
                                      <p>$15 <span>month</span></p>
                                    </div>
                                 </div>
                              <div class="plist">
                                 <ul>
                                    <li>Unlimited Products</li>
                                    <li>SEO ready</li>
                                    <li>No transaction fee</li>
                                    <li>Mobile ready themes</li>
                                    <li>Payment gateway integration</li>
                                    <li>Theme customization</li>
                                    <li>Android application</li>
                                 </ul>
                              </div>
                              <div class="pbutton button">  
                                 <!-- button -->
                                 <a href="#"><i class="fa fa-shopping-cart"></i> Buy Now</a>
                              </div>
                           </div>   
                                 
                           <div class="clearfix"></div>
                        </div>                        
                        
                     </div> 
                     
        <hr>

        <div class="row">
            <div class="col-sm-4">
                <h3><i class="fa fa-map-marker"></i> Address</h3>
                <p>Flat B-404,Saipuram apartment, 
                    <br>Near Kailash Jeevan factory
                    <br> Dhayari, Pune. 411041
                    <strong>India</strong>
                </p>
            </div>
            <!-- /.col-sm-4 -->
            <div class="col-sm-4">
                <h3><i class="fa fa-phone"></i> Call us</h3>
                <p class="text-muted">Feel free to call us </p>
                <p><strong>+91 5858 0167</strong>
                </p>
            </div>
            <!-- /.col-sm-4 -->
            <div class="col-sm-4">
                <h3><i class="fa fa-envelope"></i> Email</h3>
                <p class="text-muted">Please feel free to write an email to us.</p>
                <strong><a href="mailto:">kulkarni.nilima3@gmail.com</a></strong>
            </div>
            <!-- /.col-sm-4 -->
        </div>
        <!-- /.row -->

        <hr>

<!--         <div id="map">

        </div>

        <hr>
 -->        <h2>Contact form</h2>

        <form ng-submit="registerMerchant(form)" name="form">
            <div class="row">
                <p class="help-block" ng-show="form.email.$error.mongoose">
                  {{ errors.email }}
                </p>
                        <p class="help-block" ng-show="form.mobileNumber.$error.mongoose">
                  {{ errors.mobileNumber }}
                </p>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="fullname">Fullname</label>
                        <input required mongoose-error type="text" class="form-control" name="name" ng-model="user.name" >
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="lastname">Business name</label>
                        <input type="text" required mongoose-error class="form-control" name="businessname" ng-model="shop.name">
                       
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" required mongoose-error class="form-control" name="email" ng-model="user.email">
                        
                        
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="mobileNumber">Contact number</label>
                        <input type="text" required mongoose-error class="form-control" name="mobileNumber" ng-model="user.mobileNumber">
                    
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <!-- <label for="subject">Subject</label>
                        <input type="text" class="form-control" id="subject"> -->
                        
                                          <label for="category" >Category</label>
                    <!-- <select ng-model="product.category" ng-options="option.name for option in categories | orderBy:'name' track by option._id" class="form-control">
                        <option value="">Select Category</option>
                    </select> -->

                    <ui-select ng-model="shop.merchantcategory" theme="bootstrap" title="Select Category">
                      <ui-select-match placeholder="Select Category...">{{$select.selected.name}} </ui-select-match>
                      <ui-select-choices repeat="c in categories | propsFilter: {name: $select.search}">
                        <span ng-bind-html="c.name | highlight: $select.search"></span>
                      </ui-select-choices>
                    </ui-select>

                        
                    </div>
                </div>
              <!--   <div class="col-sm-12">
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea id="message" class="form-control"></textarea>
                    </div>
                </div>
 -->
                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send message</button>

                </div>
            </div>
            <!-- /.row -->
        </form>


    </div>


</div>
<!-- /.col-md-9 -->
