<div class="col-md-12">


		<!-- Slider starts -->
		<div class="tp-banner-container">
			<div class="tp-banner" >
				<ul>	<!-- SLIDE  -->
					<li data-transition="slotfade-vertical" data-slotamount="7" data-masterspeed="1500">
						<!-- MAIN IMAGE -->
						<img src="assets/img/slider/slide1.jpg"  alt="" data-duration="2000" />
						<!-- LAYERS NR. 1 -->
						<div class="tp-caption lfl largegreenbg"
							data-x="100"
							data-y="10"
							data-speed="1500"
							data-start="1800"
							data-easing="Power4.easeOut"
							data-endspeed="300"
							data-endeasing="Linear.easeNone"
							data-captionhidden="off"
							style="z-index: 1">Ira's collection
						</div>	
						<!-- LAYER NR. 2 -->
						<div class="tp-caption small_thin_grey customin customout"
							data-x="98"
							data-y="80"
							data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="1000"
							data-start="3000"
							data-easing="Power4.easeOut"
							data-endspeed="500"
							data-endeasing="Power4.easeIn"
							data-captionhidden="on"
							style="z-index: 2">Extra 20% off<br/> on hometown furniture.<br/>Delivery within 2 days<br/>The best furniture you can get !!
						</div>
						<!-- LAYER NR. 3 -->
						<div class="tp-caption customin customout"
							data-x="98"
							data-y="210"
							data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="800"
							data-start="3500"
							data-easing="Power4.easeOut"
							data-endspeed="500"
							data-endeasing="Power4.easeIn"
							data-captionhidden="on"
							style="z-index: 3"><a href="#" class="btn btn-default">Shop Now</a>
						</div>
						<!-- LAYER NR. 4 -->
						<div class="tp-caption skewfromright customout"
							data-x="right" data-hoffset="-100"
							data-y="10"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="600"
							data-start="4000"
							data-easing="Power4.easeOut"
							data-endspeed="300"
							data-endeasing="Power1.easeIn"
							data-captionhidden="on"
							style="z-index: 5"><img class="img-responsive" src="assets/img/slider/s11.png" alt="" />
						</div>
					</li>
						<!-- SLIDE  -->
					<li data-transition="slotfade-horizontal" data-slotamount="7" data-masterspeed="1500">
						<!-- MAIN IMAGE -->
						<img src="assets/img/slider/slide2.jpg"  alt="" data-duration="2000" />
						<!-- LAYER NR. 2 -->
						<div class="tp-caption large_bold_white skewfromleft customout"
							data-x="100"
							data-y="10"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="800"
							data-start="1800"
							data-easing="Power4.easeOut"
							data-endspeed="300"
							data-endeasing="Power1.easeIn"
							data-captionhidden="on"
							style="z-index: 2">Venky's chicken
						</div>
						<!-- LAYER NR. 3 -->
						<div class="tp-caption small_thin_grey customin customout"
							data-x="98"
							data-y="80"
							data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="1000"
							data-start="2500"
							data-easing="Power4.easeOut"
							data-endspeed="500"
							data-endeasing="Power4.easeIn"
							data-captionhidden="on"
							style="z-index: 3">Get Delicious chicken delivered to your home<br/>I am loving it!!
						</div>
						<!-- LAYER NR. 4 -->
						<div class="tp-caption customin customout"
							data-x="98"
							data-y="210"
							data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="800"
							data-start="2800"
							data-easing="Power4.easeOut"
							data-endspeed="500"
							data-endeasing="Power4.easeIn"
							data-captionhidden="on"
							style="z-index: 4"><a href="#" class="btn btn-default">Shop Now</a>
						</div>
						<!-- LAYER NR. 5 -->
						<div class="tp-caption skewfromright customout"
							data-x="right" data-hoffset="-100"
							data-y="10"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="600"
							data-start="3300"
							data-easing="Power4.easeOut"
							data-endspeed="300"
							data-endeasing="Power1.easeIn"
							data-captionhidden="on"
							style="z-index: 5"><img class="img-responsive" src="assets/img/slider/s21.png" alt="" />
						</div>
						<!-- LAYER NR. 6 -->
						<div class="tp-caption skewfromright customout"
							data-x="right" data-hoffset="-100"
							data-y="77"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="500"
							data-start="3800"
							data-easing="Power4.easeOut"
							data-endspeed="300"
							data-endeasing="Power1.easeIn"
							data-captionhidden="on"
							style="z-index: 6"><img class="img-responsive" src="assets/img/slider/s22.png" alt="" />
						</div>
						<!-- LAYER NR. 7 -->
						<div class="tp-caption skewfromright customout"
							data-x="right" data-hoffset="-430"
							data-y="77"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="400"
							data-start="4100"
							data-easing="Power4.easeOut"
							data-endspeed="300"
							data-endeasing="Power1.easeIn"
							data-captionhidden="on"
							style="z-index: 7"><img class="img-responsive" src="assets/img/slider/s23.png" alt="" />
						</div>
					</li>
				</ul>
				<div class="tp-bannertimer tp-bottom"></div>
			</div>
		</div>
		<!-- Slider ends -->
		



<!-- Page content starts -->

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">  
          
            
                        <!-- Add filter names inside "data-filter". For example ".web-design", ".seo", etc., Filter names are used to filter the below images. -->
                        <div class="button">
                           <ul id="filters">
                             <li><a href="#" data-filter="*">All</a></li>
                             <li ng-repeat= "p in categories" ><a href="#" data-filter=".{{p.name}} ">{{p.name}} </a></li>
                           </ul>
                        </div>
               
                        
                        
                    <div id="portfolio" >
                        <!-- Add the above used filter names inside div tag. You can add more than one filter names. For image lightbox you need to include "a" tag pointing to image link, along with the class "prettyphoto".-->
                        
                         <div class="element" on-finish-render="ngRepeatFinished" ng-repeat= "s in shops.items"><a  href="" ng-click="goToShop(s._id)" class="prettyphoto" >
                           <img src="/assets/img/dashboard/1.jpg" alt=""/>
                           <!-- Portfolio caption -->
                           <div class="pcap">
                              <h5>{{s.name}}</h5>
                              <p>{{s.tagline}}</p>
                              <p>{{s.address}},{{s.city}}</p>
                           </div>
                       </a></div>
               
                    </div>

      </div>
    </div>
  </div>
</div>

<!-- Page content ends -->
</div>

